.footer__company{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    margin: 17px 0px;
}