.consultation__title{
    margin: 18px 0px 26px 50px;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    font-family: 'FuturaNew', sans-serif;
    pointer-events: none;
}