.cover__title{
    margin: 0;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 35px;
    line-height: 42px;
    max-width: 834px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'FuturaNew', sans-serif;
    margin-bottom: 20px;
    pointer-events: none;
}