.footer{
    position: relative;
    top: -71px;
    max-width: 1440px;
    width: 100%;
    min-height: 428px;
    background-color: #4B949E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -71px;
}

.footer__logo{
    width: 224px;
    height: 42px;
    margin: 0px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.footer__nav{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 1180px;
}

.footer__list{
    max-width: 555px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    justify-content: space-between;
}

.footer__list:first-of-type{
    max-width: 369px;
    width: 100%;
    margin-bottom: 20px;
}

.footer__list-link{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

.footer__wrapper{
    display: flex;
    margin-top: 40px;
    max-width: 1180px;
    width: 100%;
    justify-content: space-between;
}

.footer__wrapper_adress{
    max-width: 687px;
    margin: 0px;
}

.footer__wrapper_company-info{
    margin-top: 20px;
    border-top: 1px solid #D4E4D9;
    max-width: 1440px;
}

.footer__address-wrapper{
    max-width: 287px;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.footer__policy-wrapper{
    margin-left: 130px;
    display: flex;
    max-width: 412px;
    width: 100%;
    justify-content: space-between;
}

.footer__company{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    margin: 17px 0px;
}

.footer__policy{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    margin: 17px 0px;
    text-decoration: underline;
}

.footer__creator{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    margin: 17px 130px 17px 0px;
}

.footer__link{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    text-decoration: underline;
}

.footer__social-wrapper{
    max-width: 220px;
    width: 100%;
    display: flex;
    max-width: 220px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__adress-img{
    width: 24px;
    height: 24px;
    background-size: cover;
}

.footer__text-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 253px;
}

.footer__adress{
    margin: 0px;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px;
}

.footer__email-link{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px;
}

.footer__map-link{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    text-decoration: underline;
}

.footer__social{
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover;
}

.footer__social_facebook{
    background-image: url(../../image/footer__social_facebook.svg);
}

.footer__social_whats-up{
    background-image: url(../../image/footer__social_whats-up.svg);
}

.footer__social_inst{
    background-image: url(../../image/footer__social_inst.svg);
}

.footer__social_youtube{
    background-image: url(../../image/footer__social_youtube.svg);
}