.footer{
    position: relative;
    top: -71px;
    max-width: 1440px;
    width: 100%;
    min-height: 428px;
    background-color: #4B949E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -71px;
}