.popup__option{
    font-weight: normal;
    color: #545454;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    font-family: 'Nunito', sans-serif;
}

.popup__option:hover{
    cursor: pointer;
}