.our-company__subtitle{
    margin: 20px;
    font-weight: normal;
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    pointer-events: none;
}